<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Vendor - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>

    {% include "header.html" %}

    <section class="nav-section p-3">
        {% include "section-head.html" %}

        <div class="breadcum">
            <div>
                <h2>Add New Vendor</h2>
                <p> <a href="./index.html">  Dashboard</a> /<a href="/our-manufacturer">  Our Manufacturer</a> / Add New Vendor</p>
            </div>
        </div>
        {% include 'message.html' %}
        
        <div class="p-3" style="background: white;">
            <form class="row g-3" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                    <label for="company-name" class="form-label">Company Name</label>
                    <input type="text" class="form-control" name="vendor_name" id="company-name" placeholder="Company Name" required>
                </div>
                <div class="col-md-6">
                    <label for="mobile-number" class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" name="vendor_phone" id="mobile-number" placeholder="Mobile Number*" required>
                </div>
                <div class="col-md-6">
                    <label for="contact-person" class="form-label">Contact Person</label>
                    <input type="text" class="form-control" name="contact_person" id="contact-person" placeholder="Contact Person*" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email Id</label>
                    <input type="email" class="form-control" name="vendor_email" id="inputEmail4" placeholder="Email Id" required>
                </div>
                <div class="col-md-6">
                    <label for="gstnumber" class="form-label">GST Number</label>
                    <input type="text" class="form-control" name="vendor_gst" id="gstnumber" placeholder="Enter Your GST number" required>
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address*</label>
                  <input type="text" class="form-control" name="vendor_address" id="inputAddress" placeholder="Enter Your Address" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn">Add Company</button>
                    <button type="reset" class="btn">Reset</button>
                    <a href="/our-vendors"><button type="button" class="btn">Cancel</button></a>
                </div>
            </form>
        </div>

    </section>

    {% include "footer-links.html" %}
</body>

</html>