<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Finished Goods - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>

    {% include "header.html" %}

    <section class="nav-section p-3">
        {% include "section-head.html" %}

        <div class="breadcum">
            <h2>Add Finished Goods</h2>
            <p> <a href="./index.html"> Dashboard</a> /<a href="./finished-goods.html"> Finished Goods</a> / Add Finished Goods</p>
        </div>

        <div class="add-raw-material p-2">
            <form class="row g-3">
                <div class="col-md-12">
                    <label for="product-name" class="form-label">Finished Good Name *</label>
                    <input type="text" class="form-control" required id="product-name" placeholder="Finished Good Name*">
                </div>

                <div class="col-12 text-center">
                    <h3>Add Your Raw Materials</h3>
                </div>

                <div class="col-md-6">
                    <label for="vendor-name" class="form-label">Raw Material*</label>
                    <select class="js-example-basic-single" class="form-control" name="state">
                        <option value="AL">Select Raw Material</option>
                        <option value="v1">Raw Material 1</option>
                        <option value="v2">Raw Material 2</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Qunatity Used</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Example : 12mm">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Weight</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Example : 12kg">
                </div>
                <div class="col-md-6">
                    <label for="selectGender" class="form-label">Payment Terms</label>
                    <select id="inputState" class="form-select">
                      <option selected>Due on Receipt</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <div class="flex">
                        <div class="save-data">Add this Material</div>
                        <div class="add-row">Add Another Material</div>
                    </div>
                </div>

                <div class="col-12 raw-material-items overflow-auto mt-5">
                    <table class="table-bordered xl-large-table">
                        <thead>
                            <tr>
                                <th colspan="2">Item Details</th>
                                <th>Quantity</th>
                                <th class="align-right">Weight</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody class="align-top">
                            <tr>
                                <td>01</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 order-main-btn text-center mt-5 mb-5">
                    <button type="submit" class="btn">Add this Product</button>
                    <button type="reset" class="btn">Reset</button>
                    <a href="./finished-goods.html"><button type="button" class="btn">Cancel</button></a>
                </div>
            </form>
        </div>

    </section>

    {% include "footer-links.html" %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="./assets/js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
</body>

</html>