<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bills Order - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>

    {% include "header.html" %}

    <section class="nav-section p-3">
        {% include "section-head.html" %}

        <div class="breadcum">
            <div class="flex">
                <div>
                    <h2>Bills</h2>
                    <p> <a href="./index.html">  Dashboard</a> / All Bills</p>
                </div>
                <div class="add-btn p-2">
                    <a href="./create-bill.html"><i class="fa-regular fa-square-plus"></i> Create Bill</a>
                </div>
            </div>
        </div>

        <div class="manage-invoice">
            <div class="submenu-header">
                <h2>Your Bills</h2>
                <div class="menu-btn">
                    <a href="#">See All <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="manage-invoice-table table-responsive">
                <table class="table large-table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Vendor Name</th>
                            <th>Bill Id</th>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Deepak Singh</td>
                            <td>Bill# 123456</td>
                            <td>PO-00007</td>
                            <td>01-01-2024</td>
                            <td>225</td>
                            <td>
                                <a href="./bill-order.html"><i class="fa-regular fa-eye"></i></a>
                                <a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Deepak Singh</td>
                            <td>Bill# 123456</td>
                            <td>PO-00007</td>
                            <td>01-01-2024</td>
                            <td>225</td>
                            <td>
                                <a href="./bill-order.html"><i class="fa-regular fa-eye"></i></a>
                                <a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </section>

    {% include "footer-links.html" %}
</body>

</html>