<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Bill - Inventory Management System</title>

    {% include "header-links.html" %}
    
</head>

<body>
    {% include "header.html" %}

    <section class="nav-section p-3">
        <div class="nav-content mb-2">
            <i class='bx bx-menu'></i>
            <h1>Inventory Management System</h1>
        </div>

        <div class="breadcum">
            <h2>Bills </h2>
            <p> <a href="./index.html"> Dashboard</a> / <a href="./all-bills-order.html"> Bills</a> / Create Bill</p>
        </div>

        <div class="add-raw-material p-2">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="vendor-name" class="form-label">Vendor Name*</label>
                    <select class="js-example-basic-single" class="form-control" name="state">
                        <option value="AL">Please Select Vendor Name</option>
                        <option value="v1">Vendor 1</option>
                        <option value="v2">Vendor 2</option>
                    </select>
                </div>
               
                <div class="col-md-6">
                    <label for="product-name" class="form-label">Purchase Order#*</label>
                    <input type="text" class="form-control" required id="product-name" placeholder="Purchase Order">
                </div>

                <div class="col-8"></div>
                <div class="col-4">
                    <table class="border-table">
                            <tr>
                                <th>Subtotal INR</th>
                                <td>24,000.00</td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>GST%</th>
                                <td>18.00</td>
                            </tr>
                            <tr>
                                <th>GST INR</th>
                                <td>4,320.00</td>
                            </tr>
                            <tr>
                                <th>Total INR</th>
                                <td>28,320.00</td>
                            </tr>
                    </table>
                </div>

                <div class="col-12 order-main-btn text-center mt-5 mb-5">
                    <button type="submit" class="btn">Create Bill</button>
                    <a href="#"><button type="button" class="btn">Cancel</button></a>
                </div>
            </form>
        </div>

    </section>

    {% include "footer-links.html" %}

</body>

</html>