<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Purchase Order - Inventory Management System</title>

    {% include "header-links.html" %}
    
</head>

<body>

    {% include "header.html" %}

    <section class="nav-section p-3">
        <div class="nav-content mb-2">
            <i class='bx bx-menu'></i>
            <h1>Inventory Management System</h1>
        </div>

        <div class="breadcum">
            <h2>Purchase Order </h2>
            <p> <a href="./index.html"> Dashboard</a> / <a href="./all-purchase-order.html"> Purchase Orders</a> / Create Purchase Order</p>
        </div>

        <div class="add-raw-material p-2">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="vendor-name" class="form-label">Vendor Name*</label>
                    <select class="js-example-basic-single" class="form-control" name="state">
                        <option value="AL">Please Select Vendor Name</option>
                        <option value="v1">Vendor 1</option>
                        <option value="v2">Vendor 2</option>
                    </select>
                </div>
               
                <div class="col-md-6">
                    <label for="product-name" class="form-label">Purchase Order#*</label>
                    <input type="text" class="form-control" required id="product-name" placeholder="Purchase Order">
                </div>
                <div class="col-md-6">
                    <p>Delivered To*</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Warehouses</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Customer</label>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="address-customer">
                                <strong>Primary Warehouses</strong>
                                <small>253 M.L. Quezon Street 7019 Zamboanga del, Delhi</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="selectGender" class="form-label">Payment Terms</label>
                    <select id="inputState" class="form-select">
                      <option selected>Due on Receipt</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="quantity" class="form-label">Date</label>
                    <input type="date" class="form-control" required id="quantity" placeholder="Date">
                </div>
                <div class="col-md-6">
                    <label for="date1" class="form-label">Expected Delivery Date</label>
                    <input type="date" class="form-control" required id="date1" placeholder="Expected Delivery Date">
                </div>

                <div class="col-12 raw-material-items overflow-auto">
                    <table class="table-bordered xl-large-table">
                        <thead>
                            <tr>
                                <th colspan="2">Item Details</th>
                                <th>Account</th>
                                <th>Quantity</th>
                                <th class="align-right">Rate</th>
                                <th>Tax</th>
                                <th class="align-right">Amount</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody class="align-top">
                            <tr>
                                <td>01</td>
                                <td>
                                    <div class="single-raw-desc">
                                        <div class="product-name">3.5mm Earphone</div>
                                        <small>SKU : EAR-3.5</small>
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea"></textarea>
                                            <label for="floatingTextarea">Comments</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Inventory Asset</option>
                                        <option value="1">To be Imported</option>
                                    </select>
                                </td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="rate align-right">2.55</td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select a Tax</option>
                                        <option value="18">18</option>
                                    </select>
                                </td>
                                <td class="amount align-right">2.55</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>
                                    <div class="single-raw-desc">
                                        <select class="js-example-basic-single" class="form-select" name="state">
                                            <option selected>Select a Item</option>
                                            <option value="item1">Item 1</option>
                                            <option value="item2">Item 2</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select Account</option>
                                        <option>Inventory Asset</option>
                                        <option value="1">To be Imported</option>
                                    </select>
                                </td>
                                <td class="quantity">
                                    <input type="number" class="form-control" placeholder="Quantity"
                                        aria-label="First name">
                                </td>
                                <td class="rate align-right"><input type="number" class="form-control"
                                        placeholder="Rate" aria-label="Rate"></td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select a Tax</option>
                                        <option value="18">18</option>
                                    </select>
                                </td>
                                <td class="amount align-right">0.00</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-8"></div>
                <div class="col-4">
                    <table class="border-table">
                            <tr>
                                <th>Subtotal INR</th>
                                <td>24,000.00</td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>GST%</th>
                                <td>18.00</td>
                            </tr>
                            <tr>
                                <th>GST INR</th>
                                <td>4,320.00</td>
                            </tr>
                            <tr>
                                <th>Total INR</th>
                                <td>28,320.00</td>
                            </tr>
                    </table>
                </div>

                <div class="col-12 order-main-btn text-center mt-5 mb-5">
                    <button type="submit" class="btn">Create Order</button>
                    <button type="reset" class="btn">Reset</button>
                    <a href="#"><button type="button" class="btn">Cancel</button></a>
                </div>
            </form>
        </div>

    </section>

    {% include "footer-links.html" %}

</body>

</html>