<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finished Good - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>
    
    {% include "header.html" %}

    <section class="nav-section p-3">
        <div class="nav-content mb-2">
            <i class='bx bx-menu'></i>
            <h1>Inventory Management System</h1>
        </div>

        <div class="breadcum">
            <div class="flex">
                <div>
                    <h2>Finished Good</h2>
                    <p> <a href="./index.html">  Dashboard</a> / All Finished Good</p>
                </div>
                <div class="add-btn p-2">
                    <a href="./add-finished-goods.html"><i class="fa-regular fa-square-plus"></i> Add Finished Good</a>
                </div>
            </div>
        </div>

        <div class="manage-invoice">
            <div class="submenu-header">
                <h2>All Finished Goods</h2>
                <div class="menu-btn">
                    <a href="#">See All <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="manage-invoice-table finished-goods-table overflow-auto">
                <table class="large-table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Product Name</th>
                            <th>Raw Materials</th>
                            <th>Total Day's of Production</th>
                            <th>Available Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Sample Name 1</td>
                            <td>10 <a href="./total-finished-raw-material.html" class="view-all-products">See All <i class="fa-solid fa-up-right-from-square"></i></a></td>
                            <td>12 Days</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Sample Name 2</td>
                            <td>10 <a href="./total-finished-raw-material.html" class="view-all-products">See All <i class="fa-solid fa-up-right-from-square"></i></a></td>
                            <td>100 days</td>
                            <td>50</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </section>

    {% include "footer-links.html" %}
</body>

</html>