<div class="sidebar open">
    <div class="logo-details">
        <i class='bx bxs-check-shield'></i>
        <span class="logo_name">Inventory MS</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Dashboard</a></li>
            </ul>
        </li>
        <li class="active">
            <div class="iocn-link">
                <a href="javascript:void(0)">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Our Stock</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="javascript:void(0)">Our Stock</a></li>
                <li><a href="/raw-materials">Raw Materials</a></li>
                <li><a href="/finished-goods">Finished Goods</a></li>
                {% comment %} <li><a href="/semi-finished-goods">Semi-Finish Goods</a></li> {% endcomment %}
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="javascript:void(0)">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Create Orders</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="javascript:void(0)">Create Orders</a></li>
                <li><a href="/all-purchase-order">Purchase Order</a></li>
                <li><a href="/all-manufacture-order">Manufacturing Order</a></li>
                <li><a href="/all-bills-order">Bill Order</a></li> 
            </ul>
        </li>
        <li>
            <a href="/our-members">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Members</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/our-members">Members</a></li>
            </ul>
        </li>
        <li>
            <a href="/our-vendors">
                <i class='bx bx-user-circle'></i>
                <span class="link_name">Vendors</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/our-vendors">Vendors</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="/static/assets/images/people/p-1.jpeg" alt="profileImg">
                </div>
                <div class="name-job">
                    <div class="profile_name">Chauriiii</div>
                    <div class="job">Marketing Manager</div>
                </div>
                <i class='bx bx-log-out'></i>
            </div>
        </li>
    </ul>
</div>