<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Materials - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>

    {% include "header.html" %}=
    {% include 'message.html' %}
    <section class="nav-section p-3">
        {% include "section-head.html" %}

        <div class="breadcum">
            <div class="flex">
                <div>
                    <h2>Vendor Name => {{vendor_to_get.vendor_name}}</h2>
                    <p> <a href="/"> Phone => {{vendor_to_get.vendor_phone}}</a> </p>
                    <p> <a href="/"> GST No => {{vendor_to_get.vendor_gst}}</a> </p>
                   
                </div>
                <div class="add-btn p-2">
                    <a href="/add-raw-material"><i class="fa-regular fa-square-plus"></i> Add Raw Materials</a>
                </div>
            </div>
        </div>

        <div class="manage-invoice">
            <div class="submenu-header">
                <h2>All Time History</h2>
                <div class="menu-btn">
                    <a href="#">See All <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="manage-invoice-table overflow-auto">
                <table class="large-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            {% comment %} <th>Category</th> {% endcomment %}
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for history in vendor_history %}
                        <tr>
                            <td>{{history.timestamp}}</td>
                            <td>{{history.rawmaterial_name}}</td>
                            <td>{{history.quantity}}</td>
                            {% comment %} <td>{{history.category}}</td> {% endcomment %}
                            <td>{{history.unit}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    
    {% include "footer-links.html" %}
</body>

</html>