<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Members - Inventory Management System</title>

    {% include "header-links.html" %}
    
</head>

<body>

    {% include "header.html" %}

    <section class="nav-section p-3">
        {% include "section-head.html" %}

        <div class="breadcum">
            <div class="flex">
                <div>
                    <h2>Team Members</h2>
                    <p> <a href="./index.html">  Dashboard</a> / Our Members</p>
                </div>
                <div class="add-btn p-2">
                    <a href="./add-members.html"><i class="fa-regular fa-square-plus"></i> Add Member</a>
                </div>
            </div>
        </div>

        <div class=" overflow-auto editable-table" style="background: white;">
            <div class="row">
              <div class="col-md-12">
                <table class="table large-table">
                  <thead>
                    <tr>
                      <th scope="col">S.no</th>
                      <th scope="col">Name</th>
                      <th scope="col">Mobile Number</th>
                      <th scope="col">Email</th>
                      <th scope="col">Address</th>
                      <th scope="col">Update</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01</td>
                      <td>Deepak Verma</td>
                      <td>9876543210</td>
                      <td>deepak@gmail.com</td>
                      <td>Rohini, Sector-24 , New Delhi 110086</td>
                      <td>
                        <a href="./add-members.html"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>Deepak Verma</td>
                      <td>9876543210</td>
                      <td>deepak@gmail.com</td>
                      <td>Rohini, Sector-24 , New Delhi 110086</td>
                      <td>
                        <a href="./add-members.html"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
                      </td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>Deepak Verma</td>
                      <td>9876543210</td>
                      <td>deepak@gmail.com</td>
                      <td>Rohini, Sector-24 , New Delhi 110086</td>
                      <td>
                        <a href="./add-members.html"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
                      </td>
                    </tr>
      
                  </tbody>
                </table>
              </div>
            </div>
          </div>

    </section>

    {% include "footer-links.html" %}
</body>

</html>