<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Order - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>

    {% include "header.html" %}

    <section class="nav-section p-3">
        <div class="nav-content mb-2">
            <i class='bx bx-menu'></i>
            <h1>Inventory Management System</h1>
        </div>

        <div class="breadcum">
            <div class="flex">
                <div>
                    <h2>Purchase Order</h2>
                    <p> <a href="./index.html"> Dashboard</a> / Purchase Order</p>
                </div>
                <div class="add-btn create-bill-btn p-2">
                    <a href="./add-finished-goods.html">Convert to bill <i class="fa-solid fa-file-invoice"></i></a>
                </div>
            </div>
        </div>

        <div style="padding:2rem; padding-bottom:0rem;">
            <div class="row purchase-order-pdf">
                <div class="col-6">
                    <p class="company-name"><strong>Zylker Electronics</strong></p>
                    <p class="address">253 M.L. Quezon Street Santo Niño Tukuran 7019 Zamboanga del Sur Philippines</p>
                </div>
                <div class="col-6 text-end">
                    <h3>PURCHASE ORDER</h3>
                    <P># PO-00007</P>
                </div>
                <div class="col-12 mt-4">
                    <p>Vendor Address</p>
                    <p style="color: #4d8aff;"><strong>Mendis Alvera</strong></p>
                </div>

                <div class="col-12 sml-table flex mt-4">
                    <p>Deliver To</p>
                    <table>
                        <tr>
                            <td>Date : </td>
                            <td>17 Feb 2024</td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 sml-table flex">
                    <p>Althera Fletcher</p>
                    <table>
                        <tr>
                            <td>Delivery Date : </td>
                            <td>18 Feb 2024</td>
                        </tr>
                    </table>
                </div>

                <div class="col-12 main-table">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item & Description</th>
                                <th>Qty</th>
                                <th>Rate</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>3.5mm Earphone</td>
                                <td>10.0 pcs</td>
                                <td>2.55</td>
                                <td>2.55</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>5.5mm Earphone</td>
                                <td>50.0 pcs</td>
                                <td>20.55</td>
                                <td>12.55</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-8"></div>
                <div class="col-4 mt-5">
                    <table class="main-table sub-table">
                        <tbody>
                            <tr>
                                <th>Subtotal INR</th>
                                <td>400,000.00</td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>GST%</th>
                                <td>18.00</td>
                            </tr>
                            <tr>
                                <th>GST INR</th>
                                <td>72,000.00</td>
                            </tr>
                            <tr>
                                <th>Total INR</th>
                                <td>472,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="taghead-line">Issued</div>
            </div>
        </div>

        <div class="footer-btns">
            <a href="#"><div class="download-pdfs">Download Pdf <i class="fa-solid fa-download"></i> </div></a>
            <a href="#"><div class="share-pdfs">Share Pdf <i class="fa-solid fa-arrow-up-from-bracket"></i> </div></a>
            <a href="#"><div class="convert-to-bill">Convert To Bill <i class="fa-solid fa-file-invoice"></i> </div></a>
        </div>

    </section>

    {% include "footer-links.html" %}
</body>

</html>