<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Materials - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>

    {% include "header.html" %}=
    {% include 'message.html' %}
    <section class="nav-section p-3">
        {% include "section-head.html" %}

        <div class="breadcum">
            <div class="flex">
                <div>
                    <h2>Raw Material</h2>
                    <p> <a href="/">  Dashboard</a> / All Row Materials</p>
                </div>
                <div class="add-btn p-2">
                    <a href="/add-raw-material"><i class="fa-regular fa-square-plus"></i> Add Raw Materials</a>
                </div>
            </div>
        </div>

        <div class="manage-invoice">
            <div class="submenu-header">
                <h2>Raw Materials</h2>
                <div class="menu-btn">
                    <a href="#">See All <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="manage-invoice-table overflow-auto">
                <table class="large-table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for material in material_data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{material.rawmaterial_name}}</td>
                            <td>{{material.quantity}}</td>
                            <td>{{material.category}}</td>
                            <td>{{material.unit}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    
    {% include "footer-links.html" %}
</body>

</html>