<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Materials - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>

    {% include "header.html" %}=

    <section class="nav-section p-3">
        <div class="nav-content mb-2">
            <i class='bx bx-menu'></i>
            <h1>Inventory Management System</h1>
        </div>

        <div class="breadcum">
            <div class="flex">
                <div>
                    <h2>Raw Material</h2>
                    <p> <a href="./index.html">  Dashboard</a> / All Row Materials</p>
                </div>
                <div class="add-btn p-2">
                    <a href="./add-raw-material.html"><i class="fa-regular fa-square-plus"></i> Add Raw Materials</a>
                </div>
            </div>
        </div>

        <div class="manage-invoice">
            <div class="submenu-header">
                <h2>Raw Materials</h2>
                <div class="menu-btn">
                    <a href="#">See All <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="manage-invoice-table overflow-auto">
                <table class="large-table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th>Weight (kg)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Sample Name 1</td>
                            <td>50</td>
                            <td>Paint</td>
                            <td>100Kg</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Sample Name 1</td>
                            <td>100</td>
                            <td>Paint</td>
                            <td>100Kg</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </section>
    
    {% include "footer-links.html" %}
</body>

</html>