<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Semi Finished Goods - Inventory Management System</title>

    {% include "header-links.html" %}
</head>

<body>
    {% include "header.html" %}

    <section class="nav-section p-3">
        <div class="nav-content mb-2">
            <i class='bx bx-menu'></i>
            <h1>Inventory Management System</h1>
        </div>

        <div class="breadcum">
            <h2>Total Semi-Finished Raw Materials</h2>
            <p> <a href="./index.html"> Dashboard</a> /<a href="./finished-goods.html"> This Finish Good</a> / Total Goods</p>
        </div>

        <div class="add-raw-material p-2">
            <form class="row g-3">
                <div class="col-12 text-center">
                    <h3>This Specific Good</h3>
                </div>

                <div class="col-12 raw-material-items overflow-auto mt-5">
                    <table class="table-bordered xl-large-table">
                        <thead>
                            <tr>
                                <th colspan="2">Item Details</th>
                                <th>Quantity</th>
                                <th class="align-right">Weight</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody class="align-top">
                            <tr>
                                <td>01</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>Raw Material 1 name</td>
                                <td class="quantity align-right">
                                    <p>1.00</p>
                                    <small>Stock On Hand:</small>
                                    <p>97.00 pcs</p>
                                </td>
                                <td class="amount align-right">12kg</td>
                                <td><a href="javascript:void(0)"><i class="fa-solid fa-trash-can-arrow-up"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <label for="vendor-name" class="form-label">Raw Material*</label>
                    <select class="js-example-basic-single" class="form-control" name="state">
                        <option value="AL">Select Raw Material</option>
                        <option value="v1">Raw Material 1</option>
                        <option value="v2">Raw Material 2</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputAddress" class="form-label">Qunatity Used</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Example : 12mm">
                </div>
                <div class="col-md-4">
                    <label for="inputAddress" class="form-label">Weight</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Example : 12kg">
                </div>
                <div class="col-md-12">
                    <div class="flex">
                        <div class="save-data">Add this Material</div>
                        <div class="add-row">Add Another Material</div>
                    </div>
                </div>

                

                <div class="col-12 order-main-btn text-center mt-5 mb-5">
                    <button type="submit" class="btn">Save Changes</button>
                    <a href="./semi-finished-goods.html"><button type="button" class="btn">Cancel</button></a>
                </div>
            </form>
        </div>

    </section>

    {% include "footer-links.html" %}
</body>

</html>